[submodule "tools/webrepl"]
	path = tools/webrepl
	url = git@github.com:hwinther/webrepl.git
[submodule "tools/micropython"]
	path = tools/micropython
	url = git@github.com:hwinther/micropython.git
[submodule "tools/micropython-lib"]
	path = tools/micropython-lib
	url = git@github.com:hwinther/micropython-lib.git
[submodule "tools/CCS811"]
	path = tools/CCS811
	url = git@github.com:hwinther/CCS811.git
[submodule "tools/ads1x15"]
	path = tools/ads1x15
	url = git@github.com:hwinther/ads1x15.git
[submodule "tools/micropython-max7219"]
	path = tools/micropython-max7219
	url = git@github.com:hwinther/micropython-max7219.git
